
    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold">Don't Wait !</h1>
                <h1 class="text-6xl font-bold">Get your Pizza Now !</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.png" alt="pizzaimg">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
           
            <% pizzas.forEach(function(pizza){ %>
                <div class="w-64">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                        <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg">Rs:<%= pizza.price %></span>
                            <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            <% })%>
            

        </div>
        
    </section>

    <!-- OTHER SECTION -->
    <section class="footer-section">
    <div class="justify-center text-center flex flex-wrap py-8">
        <div class="w-full md:w-6/12 px-12 md:px-4"><h2 class="font-semibold text-4xl">Why Use FAVR?</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">
                Learn all the reasons why you should be using FAVR
            </p>
        </div>
    </div>

    <div class="container mx-auto px-4 py-8">
        <div class="items-center flex flex-col md:flex-row">
            <div class="w-full md:w-4/12 mr-auto px-4 md:pt-0 my-0">
                <lottie-player
                        src="https://assets8.lottiefiles.com/packages/lf20_on5CEa.json" background="transparent" speed="1"
                        style="width: 100%; height: 100%;" loop autoplay>
                </lottie-player>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                <div class="md:pr-4">
                    <div
                            class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
                    >
                        <i class="fas fa-rocket text-xl"></i>
                    </div>
                    <h3 class="text-3xl font-semibold">Rocket Speed Service</h3>
                    <p class="mt-4 text-lg leading-relaxed text-gray-600">
                        Request a job and have your service done in a matter of hours and not days.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4 py-8">
        <div class="items-center flex flex-col md:flex-row-reverse">
            <div class="w-full md:w-4/12 mr-auto px-4 md:pt-0 my-0">
                <lottie-player
                        src="https://assets7.lottiefiles.com/packages/lf20_ptf1cnkv.json" background="transparent" speed="1"
                        style="width: 100%; height: 100%;" loop autoplay>
                </lottie-player>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                <div class="md:pr-4">
                    <div
                            class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
                    >
                        <i class="fas fa-chart-line text-xl"></i>
                    </div>
                    <h3 class="text-3xl font-semibold">Increased Productivity</h3>
                    <p class="mt-4 text-lg leading-relaxed text-gray-600">
                        With chores out of your way, you can now focus on the important things such
                        as work, family or just being able to relax.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
  </main>
    